.title{
    color:#ff0000;
    text-align: center;
    font-size: 48px;
}
p{
    color :#333333;
}
button{
    background-color: #d9992a;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
